body {
  font-family: sans-serif;
  background-image: url(https://i.ytimg.com/vi/gKKYnNvfU1A/maxresdefault.jpg);
}

.logged {
  display: grid;
  grid-template-columns: 6.5fr 1.5fr 4fr;
  grid-template-rows: 16.66vh 16.66vh 16.66vh 16.66vh 16.66vh 16.66vh;
  background-color: rgba(224,225,226, 0.5);
}

.map {
  grid-column: 1/3;
  grid-row: 2/7; 
}

.resultList {
  grid-row: 2/7;
  grid-column: 3;
  display: grid;
  grid-auto-rows: 150px;
  grid-row-gap: 5px;
  overflow-y: auto;
  background-color: rgb(224, 225, 226);
}

.result {
  border: 1px solid black;
  border-radius: 1%;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-auto-rows: 10px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  line-height: 0px;
}

.comRentCont {
  height: 30%;
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(224, 225, 226);
}

.com {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12px;
}
.rent {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 14px;
}

.resultControl {
  grid-column: 3;
}

.searchFav {
  height: 40%;
}

.control Button {
  border: 1px solid black !important;
}

.filter {
  height: 30%;
}

.slide {
  width: 80%;
}